@charset "utf-8";
/* a_04_outline.css */

#wrap{
  width: 900px;
  height: 2000px;
  background-color:lavender;
}

.part{
  width: 90%;
  height: 500px;
  background-color:white;
  margin: auto;
  padding: 50px;
}
.part>div{
  width: 80px;
  height: 80px;
  background-image: linear-gradient(65deg, plum,purple);
  float: left;
}

.outline_01{
  outline: solid black 20px;
}
.outline_02{
  outline: 10px yellow solid;
}
.outline_03>a:focus{
  outline: 10px red solid;
}
.outline_04>button:hover{
  outline: 9px solid yellowgreen;
}
.outline_05:focus{
  outline: 10px red solid;
}

