@charset "utf-8";
/* a_content.css */

#wrap{
  width: 900px;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

h1{
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.part{
  width: 90%;
  height: auto;
  margin: 50px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

h2{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

p{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  padding: 5px;
  background-color: lavender;
  border-radius: 5px;
}

.list_item{
  padding: 10px;
}

li::before{
  content:counter(num)".";
  color:red;
  display: inline-block;
  width: 15px;
  font-weight: 900;
  margin-right:5px;
}

li{
  margin-bottom: 20px;
  counter-increment:num;
}

li a {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  font-weight: 700;
  }


li a:hover, li a:focus{
  text-decoration: none;
  border-bottom: 2px solid red;
}

li:last-child{
  margin-bottom: 10px;
}