@charset "utf-8";
/*a_11_margin.css*/

#wrap{
  width: 900px;
  height: 3000px;
  background-color: lightgray;
  margin: auto;
}

.part{
  width: 95%;
  height: auto;
  background-color: white;
  margin: auto;
  border: 1px solid black;
}

.part> div{
  width: 200px;
  height: 200px;
}

.margin_01{
  background-color: lightgreen;
  margin: 30px;
}
.margin_02{
  background-color: darkgreen;
  margin: 6px;
}
.margin_03{
  background-color: greenyellow;
}
/* --------------*/
.part02{
  height: 2000px;
  border: none;
}
.part02>div{
  float: left;
  background-image: linear-gradient(30deg, pink,lightblue);
} /* deg는 각도라는 뜻! 어느 각도로 그라데이션을 줄건지 */

.more_margin_01{
  margin: 10px;
}

.more_margin_02{
  margin: 30px;
}

.more_margin_03{
   margin: 40px 20px;
}

.more_margin_04{
    margin: 40px 20px 10px;
}

.more_margin_05{
  margin: 10px 20px 30px 40px;  
}

.more_margin_06{  
  margin:10px;
  margin-left: 40px;
}

.more_margin_07{

  
}

.more_margin_08{

  
}
